<header class="navbar">
  <% if @user %>
    <div class="nav-left">
      <a href="<%= @user.admin? ? '/admin' : '/user/profile' %>"><%= @user %></a>
    </div>
    <div class="nav-right">
      <a href="/user/change_password">Сменить пароль</a>
      <a class="warning" href="/user/logout">Выйти</a>
    </div>
  <% else %>
    <div class="nav-right">
      <a href="/user/login">Войти</a> | 
      <a href="/user/signup"> Регистрация </a>
    </div>
  <% end %>
</header>