<h1>Создание пользователя</h1>

<form method="post" action="/admin/add_user">
  <div class="input">
    <input class="input-field" name="username" type="text" required>
    <label class="input-label">Имя пользователя</label>
  </div>

  <% if @error_message %>
    <div class="error_message">
      <span><%= @error_message %></span>
    </div>
  <% end %>

  <div class="action">
    <button class="action-button" type="submit">Войти</button>
  </div>
</form>