<h1>Смена пароля</h1>

<form class="centre_form" method="post" action="/user/change_password">
  <div class="input">
    <input class="input-field" name="old_password" type="password" required>
    <label class="input-label">Старый пароль</label>
  </div>

  <div class="input">
    <input class="input-field" name="new_password" type="password" required>
    <label class="input-label">Новый пароль</label>
  </div>


  <% if @error_message %>
    <div class="error_message">
      <span><%= @error_message %></span>
    </div>
  <% end %>

  <div class="action">
    <button class="action-button" type="submit">Сменить</button>
  </div>
</form>