<%= erb :_header %>

<h1>Вход</h1>

<form method="post" action="/user/login">
  <input placeholder="Логин" name="username" type="text">
  <input placeholder="Пароль" name="password" type="password">
  <button type="submit">Войти</button>
</form>