<h1>Регистрация</h1>

<% unless @enable_error %>

<form class="centre_form" method="post" action="/user/signup">
  <div class="input">
    <input class="input-field" name="username" type="text" required>
    <label class="input-label">Имя пользователя</label>
  </div>

  <div class="input">
    <input class="input-field" name="password" type="password" required>
    <label class="input-label">Пароль</label>
  </div>

  <div class="input">
    <input class="input-field" name="password" type="password_2" required>
    <label class="input-label">Поврорите пароль</label>
  </div>


  <% if @error_message %>
    <div class="error_message">
      <span><%= @error_message %></span>
    </div>
  <% end %>

  <div class="action">
    <button class="action-button" type="submit">Зарегистрироваться</button>
  </div>
</form>
<% else %>
  <h2><%= @enable_error %></h2>
<% end %>